body{
	background-color: #999999;
}
.fondo{
	background: url(../images/fondo.jpg);
	background-attachment: relative;
	background-position: center center;
	min-height: 1000px;
	width: 100%;
	background-size: 100%;
		-webkit-background-size: 100%;
			-moz-background-size: 100%;
				-o-background-size: 100%;
	background-size: cover;
    z-index: 0;
}
header{
	text-align: center;
	color: #ffffff;
}
header h1{
	font-weight: bold;
	font-size: 50px;
	margin-bottom: 0px;
}
header p{
	font-family: 'GeosansLight', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 20px;

}

.acordion{

    width: 100%;
    background-size: 100%;
}
    .acordion p{
        margin-top: 10px;
        margin-left: 10px;
        color: #ffffff;
        font-size: 12px;
        font-weight: normal;
    }
.formulario{
    background: url(../images/fondo_formulario.jpg);
    background-repeat: no-repeat;
    min-height: 583px;
}
    .formulario form{
        float: left;
        clear: left;
        overflow: hidden;
    }
dl{max-width: 100%;margin: 0px;}
        
        dt{ background: #333333; color: white; border-bottom: 1px solid #141414; border-top: 1px solid #4E4E4E; cursor: pointer; }
        dd{ background: #F5F5F5; display: none; line-height: 1.6em; margin-left: 0px;}
        dt.activo, dt:hover{ background: #424242; }

        dt:before{ content: "▸"; margin-right: 10px; }
        dt.activo:before{ content: "▾"; }

footer{
    background: url(../images/footer.png);
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80px;
    margin-top: 900px;
    background-position: absolute;
    color: #ffffff;
}